# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Bin/Debug
/LogoFX.Samples.Client.Presentation.Shell/bin/Debug
/LogoFX.Samples.Client.Presentation.Shell/obj/Debug
/packages
/LogoFX.Samples.Client.Model.Fake/bin
/LogoFX.Samples.Client.Model.Fake/obj
/LogoFX.Samples.Client.Presentation.Shared/bin
/LogoFX.Samples.Client.Presentation.Shared/obj
/LogoFX.Samples.Client.Model.Contracts/bin
/LogoFX.Samples.Client.Model.Contracts/obj
/.vs/UndoRedo/v15/Server/sqlite3
